                            p {
                                color: azure;
                                font-size: 14pt;
                                font-family: arial, "lucida console", sans-serif;
                                background-color: #262626;
                            }
                            
                            a {
                                color: rgb(246, 198, 136)
                            }
                            
                            body {
                                background-color: #262626;
                            }
                            
                            h1 {
                                color: #a3f35c;
                                font-size: 14pt;
                                font-family: arial, "lucida console", sans-serif;
                                text-indent: 110px;
                            }
